body {
    background: rgb(25, 25, 25);
    margin: 0 !important;
    padding: 0 !important;
}

header {
    margin: auto;
    text-align: center;
}

.headerPhoto {
    background-image:url("headerImage1.jpg");
    width: 100%;
    height: 250px;
    background-position: center;
    background-size: cover;
    position:relative;
    box-shadow:0px 0px 10px 1px black;
    transition: 1s;

}

.random_food_trivia {
    display: none;
    background: rgb(198, 197, 185);
    margin: 0px 0px 0px 0px !important;

}

.search {
    margin: 0px 0px 0px 0px
}

.logo {
    margin: 0px 0px 15px 0px !important;
}

#map {
    margin: 0px 0px 0px 0px !important;
}

#page-container{
    display: flex;
    flex-wrap: wrap;
    margin:0px 50px 0px 50px;
}

.results{
    border-radius: 0px 0px 0px 25px;
    width: 25%;
    background: #EAEAEA;
    text-align: center;
    height: 800px;
    overflow: scroll;
    box-shadow:0px 0px 0px 1px #8E793E inset;
}

.resultGuide {
    margin: 50px 25px 0px 25px;
}

.recipeGuide {
    margin: 25px;
}

.recipe{
    width: 50%;
    background: #EAEAEA;
    text-align: center;
    position: relative;
    box-shadow:0px 0px 0px 1px #8E793E inset;
    height: 800px;
    overflow: scroll;
}

.grocery{
    text-align: center;
    border-radius: 0px 0px 25px 0px;
    width: 25%;
    background: #EAEAEA;
    height: 800px;
    overflow: scroll;
    box-shadow:0px 0px 0px 1px #8E793E inset;
}

.guideForUseSmall {
    display: none;
}

@media only screen and (max-width: 1000px) {
    .results  {
        width: 100%;
        border-radius: 0px 0px 25px 25px;

    }
    .recipe {
        width: 100%;
        border-radius: 25px 25px 25px 25px;
        border: none;
    }
    .grocery {
        width: 100%;
        border-radius: 25px 25px 25px 25px;
    }
    .guideForUseSmall {
        display: block;
    }
    .recipeGuide {
        display: none;
    }
}


.search_results_list {
    margin: 0px 25px 0px 25px;
}

.results_fig {
    margin: 40px 25px 0px 25px;

}

.results_fig > img{
    border-radius: 10px;
    width: 100%;
    object-fit: contain;
}

.results_fig > img:hover{
    border-radius: 10px;
    width: 100%;
    object-fit: contain;
    box-shadow: 0 0 5px black;
}

.results_name {
    font-size: 25px;
    text-align: center;
    color: #231F20;
    text-decoration: underline;
    text-decoration-color:rgb(47, 70, 76);
    margin: 25px;
}

.results_author {
    font-size: 15px;
    text-align: center;
    color: #231F20;
    text-decoration: underline;
    text-decoration-color:rgb(47, 70, 76);
    margin: 25px;
}

li {
    list-style: none;
}

ul {
    padding-inline-start: 0px;
}

.search_icon {
}

.shopping__delete {
    width: 10px;
    height: 10px;
}

.logo {
    background: transparent;
    border: none;
}

footer {
    margin-top: 125px;
    background: #8E793E;
    width: 100%;
    height: 100px;
    text-align: center;
}

#map {
    width: 100%;
    height: 50%;
}

#mapText {
    text-align: center;
    color: #AD974F;
    font-family: Baskerville;
    font-size: 18px;
}

.logoMap {
    display: flex;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
}

.recipe_figure > img{
    border-radius: 10px;
    width: 100%;
    object-fit: contain;
    margin-top: 30px;
}

.recipe__ingredient-list {
    margin: 0px 50px 0px 50px;
}

.recipe__directions-text {
    margin: 0px 50px 0px 50px;
}

.heading-2 {
    margin: 0px 50px 25px 50px;
}

.recipe__item {
    display: flex;
    flex-wrap: wrap;
    place-items: center;
    justify-content: center;
}

.recipe__count {

}

.recipe__unit {
    margin: 0px 3px 0px 3px;
}

.recipe__ingredient {

}

.shopping_item {
    border-bottom-style: groove;
    //border-style: groove;
    //margin-top: 0 !important;
    margin: 25px;
}

.shopping__count-value {
}

.groceryUnit {
}

.shopping__description {
}

.deleteButton {
    margin-bottom: 25px;
}
/*.recipe__count {
    float: left;
}

.recipe__unit {
    float: left;
    margin-left: 5px;
}

.recipe__ingredient {
    text-align: right;
}*/

#addToList {
    margin: 50px 50px 25px 50px;
}

.directions {
    display: inline-block;
    margin: 50px 50px 50px 50px;
}

#mapButton {
    background: transparent;
    color: white;
    border: 1px solid white;
    font-size: 16px;
    padding: 5px 15px 5px 15px;
}

#mapButton:hover {
    box-shadow: 0 0 4px white;
}

#creatorsButton {
    margin: 33px 25px 0px 25px;
    background: transparent;
    color: white;
    border: 1px solid white;
    font-size: 16px;
    padding: 5px 15px 5px 15px;
}

#creatorsButton:hover {
    box-shadow: 0 0 4px white;
}

#galleryButton {
    background: transparent;
    color: white;
    border: 1px solid white;
    font-size: 16px;
    padding: 5px 15px 4px 15px;
}

#galleryButton:hover {
    box-shadow: 0 0 2px white;
}

#video {
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 50px;
}

.lightbox-link:hover {

}

* {
    box-sizing: border-box;
    text-align: center;
}

#galleryImagesRow {
    display: flex;
    flex-wrap: wrap;
}

.galleryImage {
    margin-top: 25px;
    flex: 33.33%;
}

#galleryHeader {
    color: #AD974F;
    font-family: Baskerville;
    letter-spacing: 5px;
    text-decoration: underline #AD974F ;
}

.galleryText {
    color: #AD974F;
    font-family: Baskerville;
}

.logoGallery {
    display: flex;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

.guideForUseSmall {
    margin-left: 25px;
    margin-right: 25px;
}

.myGroceryList {
    margin: 25px;
}
