header {
    width: 100%;
    background-image:url("spagetti.png");
    position: center;
}

.random_food_trivia {
    background: grey;
}

.results{
    width: 25%;
}

.recipe{
    width: 50%;
}

.grocery{
    width: 25%;
}

#page-container{
    display: flex;
    flex-wrap: wrap;
}