body {
    //background: rgb(198, 197, 185);
    background: rgb(25, 25, 25);
    margin: 0 !important;
    padding: 0 !important;
}

header {
    margin: auto;
    text-align: center;
}

.headerPhoto {
    background-image:url("headerImage1.jpg");
    width: 100%;
    height: 275px;
    background-position: center;
    background-size: cover;
    position:relative;
    //border-bottom: groove gold;
    //border-left: groove gold;
    //border-right: groove gold;
    //box-shadow: 0 0 10px;

}

.random_food_trivia {
    display: none;
    background: rgb(198, 197, 185);
    margin: 0px 0px 0px 0px !important;

}

.search {
    margin: 0px 0px 0px 0px
}

.logo {
    margin: 0px 0px 0px 0px !important;
}

#map {
    margin: 0px 0px 0px 0px !important;

}

#page-container{
    display: flex;
    flex-wrap: wrap;
    margin:0px 50px 0px 50px;
}

.results{
    border-radius: 0px 0px 0px 25px;
    width: 24%;
    height: auto;
    min-height: 500px;
    //background: rgb(154, 152, 132);
    //background: rgb(200, 197, 188);
    background: #EAEAEA;
}

 {
    width: 25%;
}

.recipe{
    width: 50%;
    height: auto;
    //background: rgb(227, 227, 221);
    //background: rgb(237, 236, 233);
    background: #EAEAEA;
    text-align: center;
    position: relative;
    border-left: groove #AD974F;
    border-right: groove #AD974F;

}

.grocery{
    text-align: center;
    border-radius: 0px 0px 25px 0px;
    height: auto;
    width: 25%;
    //background: rgb(154, 152, 132);
    //background: rgb(200, 197, 188);
    background: #EAEAEA;

}

@media only screen and (max-width: 800px) {
    .results  {
        width: 100%;
    }
    .recipe {
        width: 100%;
    }
    .grocery {
        width: 100%;
    }
}

.search_results_list {
    margin: 0px 25px 0px 25px;
}

.results_fig {
    margin: 40px 25px 0px 25px;

}

.results_fig > img{
    border-radius: 10px;
    width: 100%;
    object-fit: contain;
    //border: groove #AD974F;
}

.results_fig > img:hover{
    border-radius: 10px;
    width: 100%;
    object-fit: contain;
    box-shadow: 0 0 5px black;
}

.results_name {
    font-size: 25px;
    text-align: center;
    //color: rgb(47, 70, 76);
    color: #231F20;
    text-decoration: underline;
    text-decoration-color:rgb(47, 70, 76);
}

.results_author {
    font-size: 15px;
    text-align: center;
    //color: rgb(47, 70, 76);
    color: #231F20;
    text-decoration: underline;
    text-decoration-color:rgb(47, 70, 76);
}

li {
    list-style: none;
}

ul {
    padding-inline-start: 0px;
}

.search_icon {
}

.shopping__delete {
    width: 10px;
    height: 10px;
}

.logo {
    background: transparent;
    border: none;
}